/ImprimindoObjetos.class
/CriandoStreams.class
/Utilitarios.class
/Map.class
/Filter.class
/Aluno.class
/Reduce1.class
/Match.class
/MinMax.class
/Filter0.class
/Reduce2.class
/Reduce3.class
/Media.class
/MediaTeste.class
/Outros.class
