/Lambda1.class
/Calculo.class
/CalculoTeste1.class
/Somar.class
/Multiplicar.class
/CalculoTeste2.class
/CalculoTeste3.class
/Foreach.class
/Predicado.class
/Produto.class
/Consumidor.class
/Funcao.class
/OperadorUnario.class
/OperadorBinario.class
